body {
    font-family: Arial, sans-serif;
    background: #fff0f6;
    margin: 0;
    padding: 30px;
}

.container {
    background: white;
    padding: 25px;
    max-width: 650px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

h1 {
    color: #d6336c;
}

.subtitulo {
    font-size: 18px;
    color: #444;
}

.boton {
    display: inline-block;
    padding: 10px 18px;
    background: #d6336c;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.boton:hover {
    background: #a61e4d;
}
