body {
    font-family: Arial;
    margin: 0;
    background: #fdfdfd;
}

header {
    background: #ff4fa3;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
}

.banner {
    background: #ffe5f2;
    padding: 30px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px #ccc;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    padding: 5px 10px;
    background: #ff4fa3;
    color: white;
    border: none;
    border-radius: 5px;
}