{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center; color:#ff1a75;">Contacto</h1>

<p style="text-align:center; font-size:18px;">
    ¿Deseas realizar un pedido o tienes preguntas?  
    ¡Estamos felices de ayudarte!
</p>

<div style="max-width:500px; margin:auto; background:rgb(176, 150, 244); padding:20px;
            border-radius:15px; box-shadow:0 4px 12px rgba(74, 50, 237, 0.2);">

    <p><strong>📞 Teléfono:</strong> 098 000 000</p>
    <p><strong>📍 Ubicación:</strong> Riobamba - Ecuador</p>
    <p><strong>📧 Correo:</strong> bolismonica@gmail.com</p>
     <a href="/">Volver</a>
</div>
