<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Heladería Mónica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<header class="header">
    <h1>🍨 Bienvenidos a Heladería Mónica 🍧</h1>

    <nav class="menu">
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>
        <a href="/datos">Datos</a>
        <br><br>
        <a href="/static/informe.pdf" target="_blank">📄 Ver mi informe PDF</a>
        <br>
        <a href="/static/informe.pdf" download>⬇ Descargar PDF</a>
    </nav>
</header>

<section class="productos-container">

    <!-- Boli Fresa -->
    <div class="card">
        <img src="{{ url_for('static', filename='img/fresa.jpg') }}" alt="Boli de Fresa">
        <h3>Boli de Fresa</h3>
        <p class="precio">$0.50</p>
    </div>

    <!-- Boli Mango-->
    <div class="card">
        <img src="{{ url_for('static', filename='img/mango.jpg') }}" alt="Boli de mango">
        <h3>Boli de Mango</h3>
        <p class="precio">$0.50</p>
    </div>

    <!-- Boli Oreo -->
    <div class="card">
        <img src="{{ url_for('static', filename='img/oreo.jpg') }}" alt="Boli de oreo">
        <h3>Boli de Oreo</h3>
        <p class="precio">$0.50</p>
    </div>

    
    <!-- Boli Mora -->
    <div class="card">
        <img src="{{ url_for('static', filename='img/mora.jpg') }}" alt="Boli de mora">
        <h3>Boli de Mora</h3>
        <p class="precio">$0.50</p>
    </div>

    <!-- Boli Coco -->
    <div class="card">
        <img src="{{ url_for('static', filename='img/coco.jpg') }}" alt="Boli de coco">
        <h3>Boli de Mora</h3>
        <p class="precio">$0.50</p>
    </div>

</section>

</body>
</html>