{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center; color:#ff1a75;">Sobre Nosotros</h1>

<p style="text-align:center; max-width:800px; margin:auto; font-size:18px;">
    En <strong>Bolis de Mónica</strong> elaboramos bolis artesanales con frutas naturales,
    recetas tradicionales y el mejor sabor de Riobamba.  
    Nuestro objetivo es ofrecer un producto fresco, delicioso y hecho con amor.
</p>

<div style="text-align:center; margin-top:20px;">
    <img src="/static/img/banner.jpg" style="width:70%; border-radius:15px;">
</div>
{% endblock %}