{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center; color:#ff1a75;">Nuestros Productos</h1>

<div class="container">

    {% for p in productos %}
    <div class="card">
        <img src="{{ p.imagen }}" alt="{{ p.nombre }}">
        <div class="info">
            <div class="nombre">{{ p.nombre }}</div>
            <div class="descripcion">{{ p.descripcion }}</div>
            <div class="precio">$ {{ p.precio }}</div>

            <a class="btn-comprar" href="#">Comprar</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}